[user]
	name = David Harting
	email = hartingdavid@icloud.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICp/YDstiU03YX3a6Iy3iESPcfiGOUsQ1NbctqocC3Yo
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper =
	helper = !/Users/david/.local/share/mise/installs/gh/2.95.0/gh_2.95.0_macOS_arm64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/Users/david/.local/share/mise/installs/gh/2.95.0/gh_2.95.0_macOS_arm64/bin/gh auth git-credential
[init]
	defaultBranch = main
